
@font-face {
	font-family: "digital_numbers";  
	src: url("../assets/DigitalNumbers-Regular.ttf") format("truetype"); 
	font-style: Regilar; 
	font-weight: 400;
 }
 @font-face {
	font-family: "electrolize";  
	src: url("../assets/Electrolize-Regular.ttf") format("truetype"); 
	font-style: Regilar; 
	font-weight: 400;
 }

body{
	margin: 0;
	background-color: lightgrey;
  	font-family: 'digital_numbers';
}


.game_field{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid grey;
	border-right: 5px solid grey;
	margin: auto;
	/*margin-top: 100px;*/
	background-color: lightgrey;
	height: auto;
	padding: 10px;

}

.title_menu{
	display: flex;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	justify-content: space-around;
	align-items: center;
	width: inherit;
	height: 100px;
	background-color: ;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.field{
	width: inherit;
	height: auto;
	background-color: white;
	display: grid;
}

.closen_cell{
	background-color: lightgrey;
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-bottom: 3px solid grey;
	border-right: 3px solid grey;
}

.empty_open_cell{
	font-family: "electrolize";
}

.one_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: blue;
}

.two_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: green;
}

.three_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: red;
}

.four_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: darkblue;
}

.five_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: darkred;
}

.six_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: lightgreen;
}

.seven_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: black;
}

.eight_open_cell{
	font-family: "electrolize";
	font-size: 20pt;
	color: green;
}
.closen_cell_by_flag{
	background-color: lightgrey;
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-bottom: 3px solid grey;
	border-right: 3px solid grey;
}
.bomb_open_cell{
	color: black;
	font-size: 14pt;
}
button{
	border-radius: 0;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	background-color: lightgrey;
}
button:disabled,
button[disabled]{
	opacity: 10;
}
.bomb_open_cell:disabled{
	opacity: 100;
	
}
.bomb_open_cell_is_fatal:disabled{
	background-color: indianred;
}

.marker_on_closen_cell{
	height: 80px;
	width: 80px;
	box-sizing: border-box
}

.count_bombs_from_game_field{
	font-size: 30pt;
	text-align: center;
	height: 60px;
	padding: 0;
	text-shadow: red 1px 0 5px;
	color: black;
	background-color: darkred;
	box-sizing: border-box;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
}
.count_flags_from_game_field{
	font-size: 30pt;
	text-align: center;
	height: 60px;
	padding: 0;
	background-color: darkred;
	text-shadow: red 1px 0 5px;
	box-sizing: border-box;
	color: black;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
}
.restart_button_from_game_field{
	text-align: center;
	font-size: 40px;
	height: 80px;
	width: 80px;
	box-sizing: border-box;
	background-color: lightgrey;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid grey;
	border-right: 5px solid grey;
}

.restart_button_from_game_field:active{
	font-size: 35px;
	border-top: 5px solid grey;
	border-left: 5px solid grey;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
}	

.sub_menu{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid grey;
	border-right: 5px solid grey;
	margin: auto;
	height: auto;
	padding: 5px;
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 5px;

}
.sub_menu button{
	margin: 0;
	height: 30px;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid grey;
	border-right: 5px solid grey;
}
.sub_menu input[type='radio']{
	margin: 0;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	margin-left: 10px;
	
}
.sub_menu span{
	vertical-align: middle;
	height: 20px;
	font-size: 10pt;
    text-align: left;
	padding: 0;
	margin: 0;
	
}
.sub_menu_el{
	display: flex;
	align-items: center;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	height: 20px;
}

.window{
	position: absolute;
	width: 100%;
	top: 200px;
}